<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learning Vue</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1>Hello Vue :)</h1>

    <div id="app">
      <div v-show="showBooks">Currently showing books</div>
      <div v-if="showBooks">
        <p>{{title}} - {{author}} - {{age}}</p>
      </div>
      <button @click="toggleShowBooks">
        <span v-if="showBooks">Hide Books</span>
        <!-- <span v-else>Show Books</span> if we don't wanna write v-if again we can just write v-else to achieve it -->
        <span v-if="!showBooks">Show Books</span>
      </button>

      <br />
      <!--Mouse event-->
      <div class="box" @mouseover="handleEvent($event, 5)">
        Mouseover (enter)
      </div>
      <div class="box" @mouseleave="handleEvent">Mouseleave</div>
      <div class="box" @dblclick="handleEvent">DoubleClick</div>
      <div class="box" @mousemove="handleMousemove">Position {{x}} {{y}}</div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
